@import "tailwindcss";

@config "../tailwind.config.js";

@theme {
  --font-sans:
    "Inter Tight", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap");
}

@font-face {
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700&display=swap");
}

html,
body {
  color: #ffffff;
  @apply bg-[radial-gradient(ellipse_at_top_center,_#191758_0%,_#09101A_40%,_#09101A_100%)];
}

/* CSS utilities */
/* Container để chừa không gian cho quảng cáo 2 bên */
.container-ad {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-ad {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-ad {
    max-width: 680px;
  }
}

@media (min-width: 1024px) {
  .container-ad {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .container-ad {
    max-width: 1100px;
  }
}

@media (min-width: 1536px) {
  .container-ad {
    max-width: 1320px;
  }
}
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Radix Popover Animations */
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideUpAndFade {
  animation: slideUpAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideRightAndFade {
  animation: slideRightAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideDownAndFade {
  animation: slideDownAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideLeftAndFade {
  animation: slideLeftAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
